In [1]:
import numpy as np
import pandas as pd

In [2]:
subs = pd.read_csv("C:\coding\python\Data\subs.csv")["Subscribers gained"]
print(type(subs))
subs

<class 'pandas.core.series.Series'>

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [3]:
vk = pd.read_csv("C:\coding\python\Data\kohli_ipl.csv", index_col="match_no")
print(type(vk["runs"]))
vk["runs"]

<class 'pandas.core.series.Series'>

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [4]:
vk = vk["runs"]
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [5]:
movies = pd.read_csv(r"C:\coding\python\Data\bollywood.csv", index_col="movie")
print(type(movies["lead"]))
movies["lead"]

<class 'pandas.core.series.Series'>

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [6]:
movies = movies["lead"]
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

### Some important series methods

- astype
- between
- clip
- drop_duplicates
- isnull
- dropna
- fillna
- isin
- apply
- copy

In [7]:
# astype
import sys

sys.getsizeof(vk)

3456

In [8]:
sys.getsizeof(vk.astype("int16"))

2166

In [9]:
# between
vk[vk.between(51, 99)].size

43

In [10]:
# clip
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [11]:
subs.clip(100, 200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [12]:
# drop_duplicates
temp = pd.Series([1, 1, 2, 2, 3, 3, 4, 4])
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
dtype: int64

In [13]:
temp.drop_duplicates()

0    1
2    2
4    3
6    4
dtype: int64

In [14]:
temp.drop_duplicates(keep="last")

1    1
3    2
5    3
7    4
dtype: int64

In [15]:
temp.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
dtype: bool

In [16]:
print(temp.duplicated().sum())

4

In [17]:
temp = pd.Series([1, 2, 3, np.nan, 5, 6, np.nan, 8, np.nan, 10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [18]:
temp.size

10

In [19]:
print(temp.count())

7

In [20]:
# isnull
temp.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [21]:
print(temp.isnull().sum())

3

In [22]:
# dropna
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [23]:
# fillna
temp.fillna(0)

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

In [24]:
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

In [25]:
# isin
vk[(vk == 49) | (vk == 99)]

match_no
82    99
86    49
Name: runs, dtype: int64

In [26]:
vk[vk.isin([49, 99])]

match_no
82    99
86    49
Name: runs, dtype: int64

In [29]:
# apply
subs.apply(lambda x: "good day" if x > subs.mean() else "bad days")

0      bad days
1      bad days
2      bad days
3      bad days
4      bad days
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

In [ ]:
# copy